<!doctype html>
<html lang="en"  ng-app='NarrowItDownApp'>
  <head>
    <title>Odigo Toolbar Api Sample</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="js/jquery-3.1.0.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
  </head>
<body>
   <div class="container" ng-controller='NarrowItDownController as list1'>
    <h1 class="col-md-12 center"> ODIGO TOOLBAR API SAMPLE </h1>
    <div id="div_general" class="col-md-12">

      <input id="imp_search"
        type="text"
        ng-model="searchTerm"
        placeholder="search term"
        class="form-control">
      
      <button id="but_search" class="btn btn-primary" ng-click="list1.getTokenFromApi(searchTerm);">{{list1.buttonSearchText}}</button>
      
      <button id="but_search" class="btn btn-primary" ng-click="list1.OdigoHangUp(list1.Token);">HangUp</button>
      
      <button id="but_hold" class="btn btn-primary" ng-click="list1.OdigoHold();">Hold</button>
      
      <button id="but_retreive"class="btn btn-primary"ng-click="list1.OdigoRetreive();">Retreive</button>                  
      
      <button id="but_EndWrapUp" class="btn btn-primary" ng-click="list1.OdigoEndWrapUp();">End WrapUp</button>             
      <p>
      <label id="Token">Token:</label>       
      <p>
      <input id="imp_token" type="text" ng-model="list1.Token" placeholder="search term" class="col-lg-6">
    </div>
</body>
</html>

<!--//Utilizar link para pasar el metodo--->
